#Navbar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  position: relative;
  z-index: 1;
  .top-nav {
    .overlay {
      position: absolute;
      width: 100%;
      height: 891px;
      background-color: rgba(0, 0, 0, 0.5);
      top: -240px;
      z-index: -1;
    }
    .nav-logo {
      width: 15%;
      img {
        width: 100%;
      }
    }
    .nav-item {
      a {
        text-decoration: none;
        color: #f8f8f8;
        font-size: 18px;
        padding: 0 10px;
        font-weight: 600;
        transition: all 0.4s ease;
        &:hover {
          color: #daa760;
        }
      }
    }
    .nav-social {
      a {
        text-decoration: none;
        color: #f8f8f8;
        font-size: 16px;
        padding: 0 10px;
        font-weight: 400;
        transition: all 0.4s ease;
        &:hover {
          color: #daa760;
        }
      }
    }
  }
}
.nav-text {
  padding-top: 3rem;
  h1 {
    color: #fff2f2;
    font-weight: 700;
    font-size: 65px;
  }
  h2 {
    color: #daa760;
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .btn {
    border: 1px solid #daa760;
    padding: 20px 40px;
    font-size: 14px;
    text-decoration: none;
    color: #ffe9e9;
    letter-spacing: 4px;
    background-color: #daa760;
    font-weight: 500;
    margin-top: 20px;
    transition: all 0.4s ease;
    &:hover {
      background-color: transparent;
      color: #d29a5a;
    }
  }
}

// First start

#First {
  background-color: #130f0c;
  height: 2200px;
  .first-text {
    padding-top: 7rem;
    text-align: center;
    h3 {
      border-top: 0.5px solid #daa760;
      padding-top: 50px;
      color: #fff2f2;
      font-weight: 400;
      font-size: 26px;
    }
    h5 {
      color: #daa760;
      padding-bottom: 50px;
      border-bottom: 0.5px solid #daa760;
    }
  }
  .first-item {
    padding-top: 15rem;

    .first-item-img {
      img {
        height: 565px;
        width: 583px;
        position: relative;
        z-index: 1;
      }
      .img-first {
        height: 430px;
        width: 427px;
        position: absolute;
        top: 82rem;
        left: 15rem;
        z-index: 2;
      }
    }
    .first-item-text {
      padding: 7rem 6rem;
      h2 {
        color: #daa760;
        font-size: 50px;
        font-weight: 700;
      }
      p {
        color: #fff2f2;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 2px;
      }
      h5 {
        color: #daa760;
        font-weight: 500;
      }
      .btn {
        border: 1px solid #daa760;
        padding: 18px 32px;
        font-size: 14px;
        text-decoration: none;
        color: #ffe9e9;
        letter-spacing: 4px;
        background-color: #daa760;
        font-weight: 500;
        margin-top: 10px;
        transition: all 0.4s ease;
        &:hover {
          background-color: transparent;
          color: #d29a5a;
        }
      }
    }
  }
  .menu {
    .first-menu {
      margin-top: 100px;
      h1 {
        color: #ffe9e9;
        margin-bottom: 30px;
      }
      h2 {
        color: #daa760;
        margin-bottom: 25px;
        font-weight: 500;
      }
      h5 {
        color: #fff2f2;
      }
      strong {
        color: #daa760;
        letter-spacing: 1px;
      }
      p {
        color: #b1742f;
      }
    }
  }
}
// First end

// Second start
#Second {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  .overlay {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: -1;
  }
  img {
    width: 100%;
  }
  .second-text {
    text-align: center;
    padding: 220px;
    h1 {
      color: #fff6f6;
      padding-bottom: 30px;
      border-bottom: 3px solid #daa760;
    }
  }
}
// Second end

// Third start
#Third {
  background-color: #130f0c;
  height: 900px;
  position: relative;
  z-index: -9999;
  .third-img {
    margin-top: 200px;
    width: 600px;
    img {
      position: relative;
      z-index: -999;
      width: 92%;
      height: 510px;
    }
    .effect {
      position: absolute;
      z-index: 1;
      .img1 {
        max-width: 40%;
        height: auto;
        bottom: 210px;
        right: 150px;
      }
      .img2 {
        max-width: 40%;
        height: auto;
        bottom: 650px;
        left: 50px;
      }
    }
  }
  .third-info {
    margin-top: 300px;
    margin-left: 180px;
    h1 {
      color: #daa760;
      font-weight: 500;
      font-size: 40px;
    }
    p {
      color: #ffe9e9;
      font-size: 22px;
      letter-spacing: 1px;
      margin-top: 30px;
    }
    i {
      color: #d29a5a;
      font-size: 44px;
      margin-top: 80px;
      margin-left: 30px;
      strong{
        color: #fff2f2;
        font-size: 30px;
        margin-left: 10px;
      }
      h5{
        color: #d1c8bb;
        font-style: italic;
        font-size: 12px;
        padding: 15px 30px;
        border-bottom: 1px solid #d29a5a;
      }
    }
  }
}
// Third end

// Fourth start

#Fourth {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  z-index: 1;
  .overlay {
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: rgba(0, 8, 0, 0.7);
    top: 0px;
    z-index: -1;
  }
  img {
    width: 100%;
  }
  .third-text {
    text-align: center;
    padding: 220px;
    h1 {
      color: #f8f8f8;
      padding-bottom: 20px;
      border-bottom: 2px solid #d29a5a;
    }
  }
}

// Fourth end

// Fifth start
#Fifth {
  background-color: #130f0c;
  height: 1100px;
  width: 100%;
  padding-top: 100px;
  h1{
    color: #d29a5a;
    margin-top: 30px;
  }
  h4{
    color: #d1c8bb;
    font-size: 28px;
    margin-top: 20px;
  }

  
  img {
    width: 350px;
    height: 450px;
    margin-top: 50px;
  }
  h3 {
    margin-top: 30px;
    text-align: center;
    color: #d29a5a;
  }
  p {
    text-align: center;
    color: #d1c8bb;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

// Fifth end

// Sixth start

#Sixth {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 1;
  .overlay {
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: -1;
  }
  .sixth-text {
    margin-top: 220px;
    h1 {
      color: #f8f8f8;
      font-weight: 700;
    }
    h5 {
      color: #d29a5a;
      font-size: 25px;
    }
    .btn {
      border: 1px solid #daa760;
      padding: 20px 50px;
      font-size: 14px;
      text-decoration: none;
      color: #ffe9e9;
      letter-spacing: 4px;
      background-color: #daa760;
      font-weight: 500;
      margin-left: 200px;
      transition: all 0.4s ease;
      &:hover {
        background-color: transparent;
        color: #d29a5a;
      }
    }
  }
}
// Sixth end

// Footer start
#Footer {
  background-color: #130f0c;
  height: 600px;
  .info {
    margin-top: 100px;
    i {
      color: #d29a5a;
      font-size: 38px;
      margin: 0 10px;
      cursor: pointer;
    }
    span {
      color: #d1c8bb;
      font-size: 14px;
      margin-left: 20px;
      letter-spacing: 1px;
    }
  }
  .logo-social {
    text-align: center;
    img {
      width: 25%;
      margin-top: 250px;
    }
    .in-fb {
      margin: 40px;
      a {
        color: #d1c8bb;
        cursor: pointer;
        text-decoration: none;
        margin: 10px;
      }
    }
  }
}

// Footer end
