#Navbar {
  width: 100%;
  height: 70px;
}

#Navbar .nav-item .nav-text a {
  color: #212529;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#Navbar .nav-item .nav-text a:hover {
  color: #5e5e5ed3;
}

#media {
  display: none;
}

#First {
  width: 100%;
  height: 250px;
  margin-top: 10rem;
}

#First .first-item h1 {
  color: #212529;
  font-size: 70px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

#First .first-item h4 {
  color: #212529;
  font-weight: 350;
  margin-top: 40px;
  line-height: 38px;
  letter-spacing: 1px;
}

#second {
  width: 100%;
  height: 860px;
  margin-top: 13rem;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 5%, 100% 100%, 0% 100%);
}

#second .second-img img {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#second .second-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#second .icon {
  position: absolute;
  width: 50px;
  margin-top: -65px;
  margin-left: 20px;
}

#second .icon2 {
  position: absolute;
  width: 50px;
  margin-top: -65px;
  margin-left: 80px;
}

#second h3 {
  position: absolute;
  margin-top: -400px;
  margin-left: 20px;
  color: #f8f8f8;
  font-weight: 400;
}

#second p {
  position: absolute;
  margin-top: -360px;
  margin-left: 20px;
  color: #f8f8f8;
  font-weight: 200;
}

#second .txt1 {
  position: absolute;
  margin-top: -390px;
  margin-left: 20px;
  color: #f8f8f8;
  font-weight: 400;
}

#second .txt2 {
  position: absolute;
  margin-top: -350px;
  margin-left: 20px;
  color: #f8f8f8;
  font-weight: 200;
}

#Futer {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}

#Futer p {
  color: #212529;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  #First .first-item {
    text-align: center;
  }
  #First .first-item h1 {
    font-size: 40px;
  }
  #First .first-item h4 {
    font-size: 24px;
  }
  #second {
    height: 2600px;
    -webkit-clip-path: none;
            clip-path: none;
  }
  #Navbar {
    display: none;
  }
  #media {
    display: block;
  }
  #media .logo {
    margin-left: 30px;
  }
  #media .navbar-toggler {
    margin-right: 30px;
    padding: 10px 10px;
    border-radius: 30%;
  }
  #media .bg-white {
    text-align: center;
  }
  #media .bg-white .media-text a {
    color: #212529;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  #media .bg-white .media-text a:hover {
    color: #5e5e5ed3;
  }
}

#Navbar-about {
  width: 100%;
  height: 70px;
}

#Navbar-about .nav-item-about .nav-text-about a {
  color: #212529;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

#Navbar-about .nav-item-about .nav-text-about a:hover {
  color: #5e5e5ed3;
}

#media-about {
  display: none;
}

#First-about {
  width: 100%;
  height: 100px;
  text-align: center;
}

#First-about h1 {
  color: #212529;
  margin-top: 10rem;
  font-weight: 200;
  font-size: 60px;
}

#Slider {
  width: 100%;
  height: 450px;
  margin-top: 20rem;
}

#Third {
  width: 100%;
  height: 1000px;
  text-align: center;
}

#Third .third-text h1 {
  color: #212529;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

#Third .third-text p {
  color: #212529;
  font-weight: 350;
  margin-top: 40px;
  line-height: 38px;
  letter-spacing: 1px;
}

#Third .third-item h3 {
  color: #212529;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin-top: 20px;
  line-height: 33px;
}

#Third .third-item p {
  color: #282a2b;
  font-weight: 200;
  margin-top: 30px;
  line-height: 30px;
}

#Futer-about {
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
}

#Futer-about p {
  color: #212529;
  font-weight: 500;
}

@media screen and (max-width: 1200px) {
  #First-about h1 {
    font-size: 40px;
  }
  #Third .third-text h1 {
    font-size: 40px;
  }
  #Third .third-text p {
    font-size: 18px;
    letter-spacing: normal;
    line-height: normal;
  }
  #Futer-about {
    margin-top: 119rem;
  }
  #Navbar-about {
    display: none;
  }
  #media-about {
    display: block;
  }
  #media-about .logo {
    margin-left: 30px;
  }
  #media-about .navbar-toggler {
    margin-right: 30px;
    padding: 10px 10px;
    border-radius: 30%;
  }
  #media-about .bg-white {
    text-align: center;
  }
  #media-about .bg-white .media-text a {
    color: #212529;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  #media-about .bg-white .media-text a:hover {
    color: #5e5e5ed3;
  }
}
/*# sourceMappingURL=style.css.map */